*{
    padding:0;
    margin:0;
    border:0;
    }
    *,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    :focus,:active{outline: none;}
    a:focus,a:active{outline: none;}
    
    nav,footer,header,aside{display: block;}
    
    html,body{
    height:100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100;
    }
    
    input, button, textarea {font-family:inherit;}
    
    input::-ms-clear{display: none;}
    button{cursor: pointer;}
    button::-moz-focus-inner{padding:0;border:0;}
    a, a:visited{text-decoration: none;}
    a:hover {text-decoration: none;}
    ul li {list-style: none;}
    img{vertical-align: top;}
    
    h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
    #first {
    background: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
/** Navigarot **/




.navigator-block-row { 
    height: 43px;   
    width: 100%;
    background:black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    border-bottom: solid 1px #404040;
    
}
.navigator-row {
    display: flex;
}
.navigator-colum-colum {
    padding: 10px 0 0 15px;
    
}
.navigator-colum-colum2 {
    padding: 10px;
    width: 620px;    
}
.navigator-colum-colum3 {
   padding: 10px 15px 0 0;
}
.navigator-row2 {
    display: flex;
    justify-content: space-between;
}

.block-music {
    align-self:flex-end;    
}

.navigator-title {
    color: #B0B0B0;
    font-size: 4ex;
}





.link {
    text-decoration: none;
}

.link2 {
    text-decoration: none;
}

.link:visited {
    color: white;
}

.link2:visited {
    color: white;
}

.link2:hover {
    text-decoration: underline;
}

.link:link {
    color: white;
}

.link2:link {
    color: white;
}

.photo-main {
   
}

.block-music {
    
    color: white;
}

.block-main {
    color: white;
    
}

.main-title {
    color: #B0B0B0;
}

.main-title:hover {
    color: white;
}

.block-navigator {
    color: white;
    
}

.navigtor-title {
    color: #B0B0B0;
}

.navigtor-title:hover {
    color: white;
}

.block-library {
    color: white;
    
}

.library-title {
    color: #B0B0B0;
}

.library-title:hover {
    color: white;
}

.main-icons {    
    color    : tomato;
    font-size: 4ex;
    max-width: auto;    
    width: 100%;
}

img {
    font-size: 10ex;  
}
.navigator-element2{
    font-size: 4ex; 
    color: #B0B0B0;
}



/** Drop List**/


.menu {
    
    max-width: 30%;
    list-style: none;
} 


li>i.fas {
    margin: 0 0 0 0;
    padding-left: 20px;
    font-size: 2.8ex;
    color    : #A8A8A8;
}

 .submenu {
    background: #202020;
    max-width: 16%;
    position: absolute;
    top: 40px;
    right: 0;
    color : #DCDCDC;
    border: solid 1px #808080;
    display: none;
    
    
}

ul.submenu>li:nth-child(1) {
    margin: 0;
    padding: 30px 0 0 40px;
}

ul.submenu>li:nth-child(2) {
    margin: 0;
    padding: 15px 0 0 40px;
    border-bottom: solid 1px #DCDCDC;
}

ul.submenu>li:nth-child(6) {
    border-bottom: solid 1px #DCDCDC;
}


.title-list {
    margin: 15px 0 0 0;
}

.title-list2 {
    margin: 15px 0 15px 0;  
}

.title-list {
    margin: 15px 0 0 0;
    
}

.title-text {
    text-decoration: none;
    margin: 0 0 0 30px;
}
.title-text:link {
    color: #DCDCDC;
}
.title-text:visited {
    color: #DCDCDC;
}

.title-text2 {
    text-decoration: none;
    margin: 0 0 0 30px;  
}

.title-text2:link {
    color: #DCDCDC;
}
.title-text2:visited {
    color: #DCDCDC;
}


.title-text3 {
    text-decoration: none;
    margin: 0 0 0 32px;  
}

.title-text3:link {
    color: #DCDCDC;
}
.title-text3:visited {
    color: #DCDCDC;
}

.title-text4 {
    text-decoration: none;
    margin: 0 0 0 34px;  
}

.title-text4:link {
    color: #DCDCDC;
}
.title-text4:visited {
    color: #DCDCDC;
}

.title-text5 {
    text-decoration: none;
    margin: 0 0 0 34px;  
}

.title-text5:link {
    color: #DCDCDC;
}
.title-text5:visited {
    color: #DCDCDC;
}

.title-text6 {
    text-decoration: none;
    margin: 0 0 0 29px;  
}

.title-text6:link {
    color: #DCDCDC;
}
.title-text6:visited {
    color: #DCDCDC;
}

.title-text7 {
    text-decoration: none;
    margin: 0 0 0 24px;  
}

.title-text7:link {
    color: #DCDCDC;
}
.title-text7:visited {
    color: #DCDCDC;
}

.title-text8 {
    text-decoration: none;
    margin: 0 0 0 29px;  
}

.title-text8:link {
    color: #DCDCDC;
}
.title-text8:visited {
    color: #DCDCDC;
}
.title-text9 {
    text-decoration: none;
    margin: 0 0 0 24px;  
}

.title-text9:link {
    color: #DCDCDC;
}
.title-text9:visited {
    color: #DCDCDC;
}

.title-text10 {
    text-decoration: none;
    margin: 0 0 0 29px;  
}

.title-text10:link {
    color: #DCDCDC;
}
.title-text10:visited {
    color: #DCDCDC;
}

.title-text11 {
    text-decoration: none;
    margin: 0 0 0 29px;  
}

.title-text11:link {
    color: #DCDCDC;
}
.title-text11:visited {
    color: #DCDCDC;
}

.title-text12 {
    text-decoration: none;
    margin: 0 0 0 34px;  
}

.title-text12:link {
    color: #DCDCDC;
}
.title-text12:visited {
    color: #DCDCDC;
}

.navigator-colum-colum3>.icon>.menu>div:hover>.submenu {
    display: block;
}

.title-list3 {
    margin: 15px 0 0 0;
    
    
}


/**All these feelings**/

/**.сarousel-title {
    color: white;
    margin: 54px 0 0 200px;
}

.tex-title {
    padding: 70px 0 0 0;
}

.feelings-description {
    color: white;
}

.first-сarousel {
    display: flex;
    flex: row;
}

.block-feelings {
    margin: 40px 0 0 200px;
    color: white;
    width: 14%;
}

.first-description {
    margin: -16px 0 0 0;
    color: #B0B0B0;
}


/** rock **/

/**.block-rock {
    margin: 40px 0 0 0;
    color: white;
    width: 14%;
}

.rock-description {
    margin: -16px 0 0 0;
    color: #B0B0B0;
}

.rock-title {
    color: white;
}


/** Wave **/

/**.block-wave {
    margin: 40px 0 0 0;
    color: white;
    width: 14%;
}

.wave-title {
    color: white;
}

.wave-description {
    margin: -16px 0 0 0;
    color: #B0B0B0;
}


/** Pop **/

/**.block-pop {
    margin: 40px 0 0 0;
    color: white;
    width: 14%;
}

.pop-title {
    color: white;
}

.pop-description {
    margin: -16px 0 0 0;
    color: #B0B0B0;
}


/** light **/

/**.block-light {
    margin: 40px 0 0 0;
    color: white;
    width: 14%;
}

.light-title {
    color: white;
}

.light-description {
    margin: -16px 0 0 0;
    color: #B0B0B0;
}


/** EDM **/

/**.block-edm {
    margin: 40px 0 0 0;
    color: white;
    width: 14%;
}

.edm-title {
    color: white;
}

.edm-description {
    margin: -16px 0 0 0;
    color: #B0B0B0;
}


/** сarousel2 **/

/**.сarousel2-title {
    color: white;
    margin: 100px 0 0 200px;
}

.second-сarousel2 {
    display: flex;
    flex: row;
}

.my-block {
    margin: 40px 0 0 200px;
    color: white;
    width: 14%;
}

.my-title {
    color: white;
}

.my-description {
    margin: -16px 0 0 0;
    color: #B0B0B0;
}

.my2-block {
    margin: 40px 0 0 0;
    color: white;
    width: 14%;
}

.my2-title {
    color: white;
}

.my2-description {
    margin: -16px 0 0 0;
    color: #B0B0B0;
}

.my3-block {
    margin: 40px 0 0 0;
    color: white;
    width: 14%;
}

.my3-title {
    color: white;
}

.my3-description {
    margin: -16px 0 0 0;
    color: #B0B0B0;
}

.my4-block {
    margin: 40px 0 0 0;
    color: white;
    width: 14%;
}

.my4-title {
    color: white;
}

.my4-description {
    margin: -16px 0 0 0;
    color: #B0B0B0;
}

.my5-block {
    margin: 40px 0 0 0;
    color: white;
    width: 14%;
}

.my5-title {
    color: white;
}

.my5-description {
    margin: -16px 0 0 0;
    color: #B0B0B0;
}

.my6-block {
    margin: 40px 0 0 0;
    color: white;
    width: 14%;
}

.my6-title {
    color: white;
}

.my6-description {
    margin: -16px 0 0 0;
    color: #B0B0B0;
}


/** сarousel3 **/

/**.carousel3-main {
    color: #E0FFFF;
    margin: 100px 0 0 200px;
}

.carousel3-title {
    margin: 0 0 0 200px;
    color: white;
}

.carousel3-container {
    display: flex;
    flex: row;
}

.carousel3-block {
    display: flex;
    flex: row;
    margin: 40px 0 0 210px;
}

.carousel3-text1 {
    color: white;
    margin: 0 0 0 10px;
}

.carousel3-text2 {
    color: #B0B0B0;
    margin: 2px 0 0 10px;
}

.carousel3-block2 {
    margin: 40px 0 0 300px;
    display: flex;
    flex: row;
}

.carousel3-text3 {
    color: white;
    margin: 0 0 0 10px;
}

.carousel3-text4 {
    color: #B0B0B0;
    margin: 2px 0 0 10px;
}

.carousel3-block3 {
    margin: 40px 0 0 300px;
    display: flex;
    flex: row;
}

.carousel3-text5 {
    color: white;
    margin: 0 0 0 10px;
}

.carousel3-text6 {
    color: #B0B0B0;
    margin: 2px 0 0 10px;
}


/** Carousel4 **/

/**.carousel4-container {
    display: flex;
    flex: row;
}

.carousel4-block {
    display: flex;
    flex: row;
    margin: 20px 0 0 210px;
}

.carousel4-text1 {
    color: white;
    margin: 0 0 0 10px;
}

.carousel4-text2 {
    color: #B0B0B0;
    margin: 2px 0 0 10px;
}

.carousel4-block2 {
    margin: 20px 0 0 295px;
    display: flex;
    flex: row;
}

.carousel4-text3 {
    color: white;
    margin: 0 0 0 10px;
}

.carousel4-text4 {
    color: #B0B0B0;
    margin: 2px 0 0 10px;
}

.carousel4-block3 {
    margin: 20px 0 0 380px;
    display: flex;
    flex: row;
}

.carousel4-text5 {
    color: white;
    margin: 0 0 0 10px;
}

.carousel4-text6 {
    color: #B0B0B0;
    margin: 2px 0 0 10px;
}


/** Carousel5 **/

/**.carousel5-container {
    display: flex;
    flex: row;
}

.carousel5-block {
    display: flex;
    flex: row;
    margin: 20px 0 0 210px;
}

.carousel5-text1 {
    color: white;
    margin: 0 0 0 10px;
}

.carousel5-text2 {
    color: #B0B0B0;
    margin: 2px 0 0 10px;
}

.carousel5-block2 {
    margin: 20px 0 0 330px;
    display: flex;
    flex: row;
}

.carousel5-text3 {
    color: white;
    margin: 0 0 0 10px;
}

.carousel5-text4 {
    color: #B0B0B0;
    margin: 2px 0 0 10px;
}

.carousel5-block3 {
    margin: 20px 0 0 433px;
    display: flex;
    flex: row;
}

.carousel5-text5 {
    color: white;
    margin: 0 0 0 10px;
}

.carousel5-text6 {
    color: #B0B0B0;
    margin: 2px 0 0 10px;
}


/** Carousel6 **/

/**.carousel6-container {
    display: flex;
    flex: row;
}

.carousel6-block {
    display: flex;
    flex: row;
    margin: 20px 0 0 210px;
}

.carousel6-text1 {
    color: white;
    margin: 0 0 0 10px;
}

.carousel6-text2 {
    color: #B0B0B0;
    margin: 2px 0 0 10px;
}

.carousel6-block2 {
    margin: 20px 0 0 230px;
    display: flex;
    flex: row;
}

.carousel6-text3 {
    color: white;
    margin: 0 0 0 10px;
}

.carousel6-text4 {
    color: #B0B0B0;
    margin: 2px 0 0 10px;
}

.carousel6-block3 {
    margin: 20px 0 0 412px;
    display: flex;
    flex: row;
}

.carousel6-text5 {
    color: white;
    margin: 0 0 0 10px;
}

.carousel6-text6 {
    color: #B0B0B0;
    margin: 2px 0 0 10px;
}

/** Video **/
/**.video-name {
    color: white;
    margin: 100px 0 0 210px;
    
}

.video1 {
    margin: 0 0 0 210px;
}